  
  .new-note,
  .notes {
    padding: 1em;
  }
  
  .notes {
    background-color: darkorange;
    margin-left: 0em;
  }
  
  .new-note {
    background: black;
    color: white;
  }
  #first{
    list-style-type: none;
  }
  #second{
    border-bottom: 0.05em solid white;
  }
  

  #second:last-child {
    border: none;
  }
 
  button {
    margin: 0.5em 0 0.5em 0;
  }
  
  
  